<!DOCTYPE html>
<html>

<head>
  <title>TradingView List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <h1>TradingView List</h1>
  <p>
    This website lists symbol, exchange, and screener supported by the python library tradingview-ta. The database isn't
    complete, so please <a rel="noopener" target="_blank"
      href="https://github.com/brian-the-dev/tradingview-list/issues/new/">open an issue</a> on GitHub if you can't find
    your country. Please note that indices are not supported by tradingview-ta, this is a limitation from TradingView's
    API,
    not the library.
  </p>
  <label for="screener">Screener:</label>
  <select name="screener" id="screener" onchange="search()">
    <option value="all">All</option>
    <option value="america">America</option>
    <option value="australia">Australia</option>
    <option value="brazil">Brazil</option>
    <option value="cfd">CFD</option>
    <option value="crypto">Crypto</option>
    <option value="forex">Forex</option>
    <option value="france">France</option>
    <option value="india">India</option>
    <option value="indonesia">Indonesia</option>
    <option value="philippines">Philippines</option>
    <option value="russia">Russia</option>
    <option value="ksa">Saudi Arabia</option>
    <option value="rsa">South Africa</option>
    <option value="sweden">Sweden</option>
    <option value="taiwan">Taiwan</option>
    <option value="thailand">Thailand</option>
    <option value="turkey">Turkey</option>
    <option value="uk">United Kingdom</option>
    <option value="vietnam">Vietnam</option>
  </select>
  <label for="screener">Search:</label>
  <input type="text" id="search" name="search" placeholder="Search" oninput="search()" autofocus />
  <table>
    <thead>
      <tr>
        <th>Screener</th>
        <th>Exchange</th>
        <th>Symbol</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="result"></tbody>
  </table>
  <p>Results are limited to 20 to reduce server load.</p>
  <footer>
    &copy;
    <a rel="noopener" target="_blank" href="https://brianthe.dev">Brian</a> &
    contributors |
    <a rel="noopener" target="_blank"
      href="https://github.com/brian-the-dev/python-tradingview-ta">python-tradingview-ta</a>
    |
    <a rel="noopener" target="_blank" href="https://github.com/brian-the-dev/tradingview-list">tradingview-list</a>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
    integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    function mark(search, string) {
      if (search.length != 0) {
        var regexp = new RegExp(search, "gi");
        var match = [...string.matchAll(regexp)];
        for (let i = 0; i < match.length; i++) {
          // Add a unique string to prevent wrong replace.
          string = string.replace(match[i], "TVDB" + i);
        }
        for (let i = 0; i < match.length; i++) {
          string = string.replace("TVDB" + i, "<mark>" + match[i] + "</mark>");
        }
        return string
      } else {
        return string
      }
    }
    var socket = io();
    function search() {
      var screener = document.getElementById("screener").value;
      var query = document.getElementById("search").value;
      socket.emit("search_event", {
        screener: screener,
        query: query
      });
      socket.on("response", (data) => {
        var result = data["r"];
        var result_html = "";
        for (let i = 0; i < result.length; i++) {
          result_html =
            result_html +
            "<tr><td>" +
            result[i][0] +
            "</td><td>" +
            mark(query, result[i][1]) +
            "</td><td>" +
            mark(query, result[i][2]) +
            "</td><td>" +
            mark(query, result[i][3]) +
            "</td></tr>";
        }
        document.getElementById("result").innerHTML = result_html;
      });
    }
  </script>
</body>

</html>